<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos!</title>
    <!-- styles -->
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <!-- header -->
    <%- include('../partials/header.ejs'); %>

    <main id="id">
        <div class="product-container">
            <figure class="img-product-container">
                <img class="img-product" src=<%= product.foto %> alt=<%= product.nombre %> >
            </figure>
            <div class="text-product-container">
                <h3 class="title-product"><%= product.nombre %></h3>
                <p class="text-product"><%= product.descripcion %></p>
                <h6 class="price-product">$<%= product.precio %> USD</h6>
            </div>
            <div class="btn-add-to-cart-container">
                <button class="btn-add-to-cart">Añadir!</button>
            </div>
        </div>
    </main>

    <!-- header -->
    <%- include('../partials/footer.ejs'); %>




</body>
</html>